.post-box {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 10px;
}
.post-box .post-box__title {
}
.post-box .post-box__summary {
}
.post-box .post-box__button {
  align-self: flex-start;
}
.comment-box {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
